# Segmenting and Clustering Neighborhoods in Toronto
### Import Libraries

In [30]:
from bs4 import BeautifulSoup
import requests
import urllib
import urllib.request
import os
import pandas as pd
import csv
import numpy as np

### Create function

In [5]:
def make_soup(url):
    thepage = urllib.request.urlopen(url)
    soupdata = BeautifulSoup(thepage,"html.parser")
    return soupdata

### Request Data

In [6]:
#source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = make_soup('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

### Find Data
Find rows and columns, Create header, Create csv file

In [7]:
postcode=postcodesaved=""
table = soup.find_all('table')[0] # Grab the first table

for record in table.findAll('tr'):
    postcode=""
    for data in record.findAll('td'):
        postcode=postcode+","+data.text
    postcodesaved = postcodesaved + "\n" + postcode[1:]

header="Postcode,Borough,Neighbourhood"   
file=open(os.path.expanduser('PostCodes.csv'),"wb")
file.write(bytes(header,encoding='ascii',errors='ignore'))
file.write(bytes(postcodesaved,encoding='ascii',errors='ignore'))

9063

### Read csv file show Dataframe

In [97]:
df=pd.read_csv('PostCodes.csv')
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Ignore cells with a borough that is Not assigned

In [91]:
df2=df[df.Borough != 'Not assigned']
df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Change Neighbourhood 'Not assigned' by Borough name

In [101]:
df3=df2.replace('Not assigned', df2.Borough)
df3.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Confirming there is no more 'Not assigned'

In [122]:
df3.loc[df3['Neighbourhood']== 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

###  Combine two rows into one row with the neighborhoods separated with a comma

In [119]:
df5=df2.groupby(['Postcode','Borough'], as_index=False, sort=False).agg(','.join)
df5

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park"
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
13,M3C,North York,"Flemingdon Park,Don Mills South"
14,M4C,East York,Woodbine Heights
15,M5C,Downtown Toronto,St. James Town
16,M6C,York,Humewood-Cedarvale
17,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B..."
18,M1E,Scarborough,"Guildwood,Morningside,West Hill"
19,M4E,East Toronto,The Beaches
20,M5E,Downtown Toronto,Berczy Park
21,M6E,York,Caledonia-Fairbanks
22,M1G,Scarborough,Woburn
23,M4G,East York,Leaside
24,M5G,Downtown Toronto,Central Bay Street
25,M6G,Downtown Toronto,Christie
26,M1H,Scarborough,Cedarbrae
27,M2H,North York,Hillcrest Village
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights"
29,M4H,East York,Thorncliffe Park
...,...,...,...
73,M4R,Central Toronto,North Toronto West
74,M5R,Central Toronto,"The Annex,North Midtown,Yorkville"
75,M6R,West Toronto,"Parkdale,Roncesvalles"
76,M7R,Mississauga,Canada Post Gateway Processing Centre
77,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie..."
78,M1S,Scarborough,Agincourt
79,M4S,Central Toronto,Davisville
80,M5S,Downtown Toronto,"Harbord,University of Toronto"
81,M6S,West Toronto,"Runnymede,Swansea"
82,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter"
83,M4T,Central Toronto,"Moore Park,Summerhill East"
84,M5T,Downtown Toronto,"Chinatown,Grange Park,Kensington Market"
85,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel..."
86,M4V,Central Toronto,"Deer Park,Forest Hill SE,Rathnelly,South Hill,..."
87,M5V,Downtown Toronto,"CN Tower,Bathurst Quay,Island airport,Harbourf..."
88,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto"
89,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
90,M1W,Scarborough,"L'Amoreaux West,Steeles West"
91,M4W,Downtown Toronto,Rosedale
92,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
93,M8W,Etobicoke,"Alderwood,Long Branch"
94,M9W,Etobicoke,Northwest
95,M1X,Scarborough,Upper Rouge
96,M4X,Downtown Toronto,"Cabbagetown,St. James Town"
97,M5X,Downtown Toronto,"First Canadian Place,Underground city"
98,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

### Do a check to verify count of Neighbourhoods per Postcode
Selecting a random Postcodes from below and compare the quantities from above

In [121]:
df2.groupby('Postcode').nunique()

          Postcode  Borough  Neighbourhood
Postcode
M1B              1        1              2
M1C              1        1              3
M1E              1        1              3
M1G              1        1              1
M1H              1        1              1
M1J              1        1              1
M1K              1        1              3
M1L              1        1              3
M1M              1        1              3
M1N              1        1              2
M1P              1        1              3
M1R              1        1              2
M1S              1        1              1
M1T              1        1              3
M1V              1        1              4
M1W              1        1              2
M1X              1        1              1
M2H              1        1              1
M2J              1        1              3
M2K              1        1              1
M2L              1        1              2
M2M              1        1              2
M2N              1        1              1
M2P              1        1              1
M2R              1        1              1
M3A              1        1              1
M3B              1        1              1
M3C              1        1              2
M3H              1        1              3
M3J              1        1              2
...            ...      ...            ...
M6C              1        1              1
M6E              1        1              1
M6G              1        1              1
M6H              1        1              2
M6J              1        1              2
M6K              1        1              3
M6L              1        1              3
M6M              1        1              4
M6N              1        1              2
M6P              1        1              2
M6R              1        1              2
M6S              1        1              2
M7A              1        1              1
M7R              1        1              1
M7Y              1        1              1
M8V              1        1              3
M8W              1        1              2
M8X              1        1              3
M8Y              1        1              8
M8Z              1        1              5
M9A              1        1              1
M9B              1        1              5
M9C              1        1              4
M9L              1        1              1
M9M              1        1              2
M9N              1        1              1
M9P              1        1              1
M9R              1        1              4
M9V              1        1              8
M9W              1        1              1

[103 rows x 3 columns]

In [123]:
df5.shape

(103, 3)